<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!-- <link  rel="stylesheet" type="text/css"  href="school.css" /> -->
    <link rel="shortcut icon" href="#">
    <title>Mid Day Meal</title>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

body{
	background: #f5f6fa;
}

.wrapper .sidebar{
	background: rgb(5, 68, 104);
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	padding: 20px 0;
	transition: all 0.5s ease;
}

.wrapper .sidebar .profile{
	margin-bottom: 50px;
	text-align: center;
}

.wrapper .sidebar .profile img{
	display: block;
	width: 200px;
	height: 200px;
    border-radius: 50%;
	margin: 0 auto;
}

.wrapper .sidebar .profile h3{
	color: #ffffff;
	margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
	color: rgb(206, 240, 253);
	font-size: 18px;
}

.wrapper .sidebar ul li a{
	display: block;
	padding: 13px 30px;
	border-bottom: 1px solid #10558d;
	color: rgb(241, 237, 237);
	font-size: 18px;
	position: relative;
}

.wrapper .sidebar ul li a .icon{
	color: #dee4ec;
	width: 30px;
	display: inline-block;
}

 

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
	color: #0c7db1;

	background:white;
    border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
	color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
	display: block;
}

.wrapper .section{
	width: calc(100% - 280px);
	margin-left: 280px;
	transition: all 0.5s ease;
}

.wrapper .section .top_navbar{
	background: rgb(7, 105, 185);
	height: 70px;
	display: flex;
	align-items: center;
	padding: 0 30px;
 
}

.wrapper .section .top_navbar .main_content a{
	font-size: 28px;
	color: #f4fbff;
}

.wrapper .section .top_navbar .main_content a:hover{
	color: #a2ecff;
}

 .wrapper .section .container{
	margin: 30px;
	background: #fff;
	padding: 50px;
	line-height: 28px;
}

body.active .wrapper .sidebar{
	left: -225px;
}

body.active .wrapper .section{
	margin-left: 0;
	width: 100%;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


    </style>
</head>
<body>
    <div class="wrapper">
        <div class="section">
         <div class="top_navbar">
             <div class="main_content">
                 <a href="#">
                     <i class="fas fa-bars"> Dashboard</i>
                 </a>
             </div>
         </div>
         <div class="container">

            <div class="content" id="reports-content">
                <h3>Schools Monthly Report Of District <%=district_id%>:</h3><br>
                    <label ><b>Month: </b><%=monthPr%></label><br>
                    <label ><b>Year: </b><%=yearPr%></label><br><br>
                    <table>
                        <tr>
                            <th>School ID</th>
                            <th>Students Registered</th>
                            <th>Meals Served</th>
                            <th>Food Expenses</th>
                            <th>Stock Left Expenses</th>
                            <th>Inspection Count</th>
                            <th>Grievances Count</th>
                        </tr>
                        <%for (let i = 0 ; i < report_details.length ; i++){%>
                            <tr>
                                <td><%=report_details[i].schoolid%></td>
                                <td><%=report_details[i].students_registered%></td>
                                <td><%=report_details[i].meals_served%></td>
                                <td><%=report_details[i].monthly_expenses%></td>
                                <td><%=report_details[i].stock_left_expenses%></td>
                                <td><%=report_details[i].inspection_count%></td>
                                <td><%=report_details[i].grievances_count%></td>
                            </tr>
                        <%}%>
                    </table> <br> 

                    <input type = "button" value="Back" onclick="back();"> 
    
        </div>
     </div>
         <div class="sidebar">
             <div class="profile">
                 <img src="/schoolLogo.jpg" alt="profile_picture">
                 <p>District ID: <%=district_id%></p>
             </div>
             <ul>
                 
                 <li>
                     <a href="#" id="reports">
                         <span class="icon"><i class="fas fa-chart-line"></i></span>
                         <span class="item">Reports</span>
                     </a>
                 </li>
            
                 <li>
                     <a href="/logout">
                         <span class="icon"><i class="fas fa-power-off"></i></span>
                         <span class="item">Logout</span>
                     </a>
                 </li>
             </ul>
         </div>
         
     </div>
  

    <script>
        function back() {
			window.location.href = '/district/<%=district_id%>'};	
    </script>

    
</body>
</html>