<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!-- <link  rel="stylesheet" type="text/css"  href="school.css" /> -->
    <link rel="shortcut icon" href="#">
    <title>Mid Day Meal</title>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

body{
	background: #f5f6fa;
}

/* .content {
		display: none;
        margin-top: 10px;
} */

.content {
  display: None;
  flex-direction: column;
  align-items: center;
  background-color: #e1e1e1;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px;
}

h3 {
  margin-top: 0;
  text-align: center;
}

b {
  font-weight: bold;
  font-size: medium;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
  color: #20165e;
  display: inline-block;
  vertical-align: middle;
  margin: 5px 0;
}

valign {
  display: inline-block;
  vertical-align: middle;
}

#home-content {
  display: block;
}

.wrapper .sidebar{
	background: rgb(5, 68, 104);
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	padding: 20px 0;
	transition: all 0.5s ease;
}

.wrapper .sidebar .profile{
	margin-bottom: 50px;
	text-align: center;
}

.wrapper .sidebar .profile img{
	display: block;
	width: 200px;
	height: 200px;
    border-radius: 50%;
	margin: 0 auto;
}

.wrapper .sidebar .profile h3{
	color: #ffffff;
	margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
	color: rgb(206, 240, 253);
	font-size: 18px;
}

.wrapper .sidebar ul li a{
	display: block;
	padding: 13px 30px;
	border-bottom: 1px solid #10558d;
	color: rgb(241, 237, 237);
	font-size: 18px;
	position: relative;
}

.wrapper .sidebar ul li a .icon{
	color: #dee4ec;
	width: 30px;
	display: inline-block;
}

 

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
	color: #0c7db1;

	background:white;
    border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
	color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
	display: block;
}

.wrapper .section{
	width: calc(100% - 280px);
	margin-left: 280px;
	transition: all 0.5s ease;
}

.wrapper .section .top_navbar{
	background: rgb(31, 102, 143);
	height: 70px;
	display: flex;
	align-items: center;
	padding: 0 30px;
 
}

.wrapper .section .top_navbar .main_content a{
	font-size: 28px;
	color: #f4fbff;
}

.wrapper .section .top_navbar .main_content a:hover{
	color: #a2ecff;
}

 .wrapper .section .container{
	margin: 30px;
	background: #fff;
	padding: 50px;
	line-height: 28px;
}

body.active .wrapper .sidebar{
	left: -225px;
}

body.active .wrapper .section{
	margin-left: 0;
	width: 100%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: white;
}
.labels{
    /* font-weight: 800; */
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

.btnClass{
    margin: 2px;
  background-color: #19799c;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.flex-container {
    margin: 30px;
  display: flex;
  flex-direction: column;
  /* background-color:rgb(194, 235, 237); */
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
}

.header{
    text-align: center;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
input[type=text], input[type=number], select {
  width: 80%;
  font-size: 20px;
  padding: 10px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color:rgb(5, 68, 104);
  color: white;
  padding: 14px 20px;
  margin: 5px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

input[type=submit]:hover {
  background-color: #29429a;
}

</style>
</head>
<body>

    </div> -->
    <div class="wrapper">
        <div class="section">
         <div class="top_navbar">
             <div class="main_content">
                 <a href="#">
                     <i class="fas fa-bars"> Dashboard</i>
                 </a>
             </div>
         </div>
         <div class="container">
            <div class="content" id="home-content" style="display: block; ">
                <h3 style="font-family: Georgia, 'Times New Roman', Times, serif; font-weight: bolder; font-size: 25px;">School Data</h3><br>
                <div style="text-transform:capitalize"><b>&emsp;school id : </b> <valign><%=school.school_id%></valign> </div>
                <div style="text-transform:capitalize"><b>&emsp;school name : </b> <valign><%=school.school_name%></valign> </div>
                <div style="text-transform:capitalize"><b>&emsp;Principal name : </b> <valign><%=school.principal_name%></valign> </div>
                <div style="text-transform:capitalize"><b>&emsp;contact number : </b> <valign><%=school.contact_number%></valign> </div>
                <div style="text-transform:capitalize"><b>&emsp;email: </b> <valign><a href = "mailto: <%=school.email%>"> <%=school.email%> </a></valign> </div>
                <div style="text-transform:capitalize"><b>&emsp;school type : </b> <valign><%=school.school_type%></valign> </div>
                <div style="text-transform:capitalize"><b>&emsp;city id : </b> <valign><%=school.city_id%></valign> </div>
                <div style="text-transform:capitalize"><b>&emsp;district id : </b> <valign><%=school.district_id%></valign> </div>
                <div style="text-transform:capitalize"><b>&emsp;primary status : </b> <valign><%=school.primary_strength%></valign> </div>
                <div style="text-transform:capitalize"><b>&emsp;secondary status : </b> <valign><%=school.secondary_strength%></valign> </div>
                <div style="text-transform:capitalize"><b>&emsp;mdm enrollment : </b> <valign><%=school.mdm_enrollment%></valign> </div>
            </div>
            <div class="content" id="stock-content">
                <div class="flex-container">
                <h3 class="header">Add Stock For Items:</h3>
                <div>
                <form method="post" action="/school/<%= school.school_id%>/addStock"> 
                    
                    <%for (let i=0; i< stock.length; i++){%>
                    <label for="text" style ="text-transform:capitalize;"><%=stock[i].item_name%></label>:
                    <input type="text" name="<%=stock[i].item_name%>" value="0" /> &nbsp Current: <%=stock[i].item_quantity%><br>
                    <%}%>
                    <br>
                    <input type="submit" value="Add Stock"/>
            
                </form>
            </div>
            </div>
            </div>     
            <div class="content" id="students-content">
                <h3 >Students Data:</h3>
                <table>
                    <tr>
                        <th>Student ID</th>
                        <th>Name</th>
                        <th>Standard</th>
                        <th>Height</th>
                        <th>Weight</th>
                        <th>MDM Enrollment</th>
                    </tr>
                <% for(let i= 0; i < students.length; i++){%>
                <tr>
                    <td><%=students[i].student_id%></td>
                    <td><%=students[i].student_name%></td>
                    <td><%=students[i].standard%></td>
                    <td><%=students[i].height%></td>
                    <td><%=students[i].weight%></td>
                    <td><%=students[i].mdm_enrollment%></td>
                </tr>
                <%}%>
            </table>

            </div> 
            <div class="content" id="bmi-content">
                <h3>Students BMI:</h3>
                <table>
                    <tr>
                        <th>Student ID</th>
                        <th>Name</th>
                        <th>BMI</th>
                        <th>Category</th>
                    </tr>
                <% for(let i= 0; i < bmi.length; i++){%>
                <tr>
                    <td><%=bmi[i].student_id%></td>
                    <td><%=bmi[i].student_name%></td>
                    <td><%= parseFloat(bmi[i].bmi).toFixed(2)%></td>
                    <td><%=bmi[i].category%></td>
                </tr>
                <%}%>
            </table>
            </div>
            
            <div class="content" id="dailyUsage-content">
                <div class="flex-container">
                <h3 class="header">Daily Stock Update:</h3>
                <div>
                <form method="post" action="/school/<%= school.school_id%>/updateUsage"> 
                    <%for (let i=0; i< stock.length; i++){%>
                    <div>
                    <label for="text" style ="text-transform:capitalize;"><%=stock[i].item_name%></label>:
                    <input type="number" name="<%=stock[i].item_name%>" placeholder="<%=stock[i].item_quantity%>" min=0 max=<%=stock[i].item_quantity%> required/><br>
                </div>
                    <%}%>

                    <br>
                    <input type="submit" name="update" value="Update"/>
                </form>
            </div>
                </div>
            </div>   
            <div class="content " id="reports-content">
                <div class="flex-container">
                <h3 class="header">Monthly Report:</h3>
                <div>
                <form method="post" action="/school/<%= school.school_id%>/getReports" >
                    <label >Enter Month in number:</label>
                    <input type="text" name="month"  placeholder="Eg:5 for May" required /><br>
                    <label >Enter Year:</label>
                    <input type="text" name="year"  placeholder="Eg:2023"/><br>
                    <br>
                    <input type="submit" value="Get Report" required/><br>
                    <!-- <input type = "button" value="Back" onclick=""> -->

                </form>
                </div>
                </div> 
            </div>   
            <div class="content" id="manage-content">
                <h3 style="text-align: center;">Manage Data:</h3><br>
               <div style="text-align: center;">
                <button class="btnClass">Add Data</button>
                <button class="btnClass">Delete Data</button>
                <button class="btnClass">Update Data</button>
            </div>
            </div>   


    
        </div>
     </div>
         <div class="sidebar">
             <div class="profile">
                 <img src="/schoolLogo.jpg" alt="profile_picture">
                 <h3 style="text-transform:uppercase"><%= school.school_name%></h3>
                 <p>School ID: <%= school.school_id%></p>
             </div>
             <ul>
                 <li>
                     <a href="#" class="active" id="home" onclick="showContent('home'); return false;">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="item">Home</span>
                     </a>
                 </li>
                 <li>
                     <a href="#" id="stock" onclick="showContent('stock'); return false;">
                         <span class="icon"><i class="fas fa-desktop"></i></span>
                         <span class="item">Add Stock</span>
                     </a>
                 </li>
                 <li>
                     <a href="#" id="students" onclick="showContent('students');">
                         <span class="icon"><i class="fas fa-user-friends"></i></span>
                         <span class="item">Students</span>
                     </a>
                 </li>
                 <li>
                     <a href="#" id="bmi" onclick="showContent('bmi');">
                         <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
                         <span class="item">Get BMI Info</span>
                     </a>
                 </li>
                 <li>
                     <a href="#" id="dailyUsage" onclick="showContent('dailyUsage');">
                         <span class="icon"><i class="fas fa-database"></i></span>
                         <span class="item">Update Daily Usage</span>
                     </a>
                 </li>
                 <li>
                     <a href="#" id="reports" onclick="showContent('reports');">
                         <span class="icon"><i class="fas fa-chart-line"></i></span>
                         <span class="item">Reports</span>
                     </a>
                 </li>
                 <li>
                     <a href="#" id="manage" onclick="showContent('manage');">
                         <span class="icon"><i class="fas fa-user-shield"></i></span>
                         <span class="item">Manage Student Table</span>
                     </a>
                 </li>
                 <li>
                     <a href="/logout">
                         <span class="icon"><i class="fas fa-power-off"></i></span>
                         <span class="item">Logout</span>
                     </a>
                 </li>
             </ul>
         </div>
         
     </div>
  

    <script>
        function logout() {
			window.location.href = '/logout'};
        
        
        var main_content = document.querySelector(".main_content");
	    main_content.addEventListener("click", ()=>{
		document.querySelector("body").classList.toggle("active");
        })

        
        var lastClick = 'home';
        function showContent(anchorId){
            console.log("called")
            const selectedContenthiv = document.getElementById(anchorId+ '-content');
            var content = selectedContenthiv.style.display;

            var contenthivs = document.getElementsByClassName('content');
                    for (var i = 0; i < contenthivs.length; i++) {
                        contenthivs[i].style.display = 'none';
                    }

            if(lastClick == anchorId && content == 'block'){
                selectedContenthiv.style.display = 'none';}
            else
                selectedContenthiv.style.display = 'block';
            lastClick = anchorId;
        }
	
    </script>
</body>
</html>